## .NET Core
bin/
obj/
/packages/
*.user
*.suo
.vs/
.vscode/
_ReSharper*/
*.sln.iml
.idea/
*.userprefs
/Properties/launchSettings.json
**/appsettings.Development.json
**/appsettings.Local.json

## Docker
.dockerignore
docker-compose.yml
docker-compose.*.yml
# Keeping Dockerfile for CI/CD

## AWS
.elasticbeanstalk/
.ebextensions/
.ebignore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
