## .NET Core
bin/
obj/
/packages/
*.user
*.suo
.vs/
.vscode/
_ReSharper*/
*.sln.iml
.idea/
*.userprefs
/Properties/launchSettings.json
**/appsettings.Development.json
**/appsettings.Local.json

## Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.*.yml

## AWS
.elasticbeanstalk/
.ebextensions/
.ebignore
